<a href="https://colab.research.google.com/github/Minoritydsp/Latihan-MachineLearning/blob/main/Latihan_Modul_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print digunakan untuk menampilkan pesan, maka pada notebook yang sudah
#dibuat sebelumnya, ketikkan print(“Pembelajaran Mesin dan Pembelajaran
#Mendalam adalah Machine Learning and Deep Learning”). Comment pada
#Python menggunakan tanda pagar (#), baris yang diberikan comment tidak
#akan tereksekusi. Kemudian tekan tombol run cell di sebelah kiri cell untuk
#menjalankan sintaks tersebut sehingga hasilnya muncul seperti berikut:

print("Pembelajaran Mesin dan Pembelajaran Mendalam adalah Machine Learning and Deep Learning")

Pembelajaran Mesin dan Pembelajaran Mendalam adalah Machine Learning and Deep Learning

In [ ]:
#Salah satu bentuk format print pada Python dapat menggunakan format
#seperti berikut:

nama = "Dave"
umur = 19
print('My name is: {satu}, anda my age is: {dua}'.format(satu = nama, dua = umur))
print('My name is: {}, and my age is: {}'.format(umur, nama))

My name is: Dave, anda my age is: 19
My name is: 19, and my age is: Dave

In [ ]:
#Tipe data Numbers pada Python dapat kita assign ke dalam variabel seperti
#contoh berikut:

varA = 13
varB = 21.5
varC = varA*varB-varA
varD = varC/(varB+varA)
print(varA*varB)
print(varC)
print(varD)
print(varA*varA)

279.5
266.5
7.72463768115942
169

In [ ]:
#Tipe data String pada Python dapat kita assign dengan tanda petik tunggal (‘)
#atau ganda (“) seperti contoh berikut:

String1 = 'Contoh String petik tunggal, '
String2 = "Contoh String petik ganda, "
String3 = "Contoh penggunaan keduanya : i'm possible"
print (String1, String2, String3)

Contoh String petik tunggal,  Contoh String petik ganda,  Contoh penggunaan keduanya : i'm possible

In [ ]:
#Selain itu, variabel string dapat diperlakukan sebagai array of character seperti
#contoh berikut:

String = "Dustin Petrus"
print(String)
print(String[7:])
print(String+" Tempik")
print(String * 2)

Dustin Petrus
Dustin
Dustin Petrus Tempik
Dustin PetrusDustin Petrus

In [ ]:
#Selain itu, variabel string dapat diperlakukan sebagai array of character seperti
#contoh berikut:

list = ['I', 'love', "Danet", "Ireng", 2023]
print(list)

['I', 'love', 'Danet', 'Ireng', 2023]

In [ ]:
#List pada Python dapat dimanipulasi dan diakses elemennya seperti contoh
#berikut:

list = ['I', 'love', "Danet", "Ireng", 2023]
list.append("until the end")
print(list)
print(list[1])
print(list[2:4])
print(list[:4])
list[1] = "benci"
print(list)
len(list)

['I', 'love', 'Danet', 'Ireng', 2023, 'until the end']
love
['Danet', 'Ireng']
['I', 'love', 'Danet', 'Ireng']
['I', 'benci', 'Danet', 'Ireng', 2023, 'until the end']

6

In [2]:
#Dictionary pada Python adalah tipe data yang menyerupai tabel dan terdiri
#atas key dan value. Dictionary dibuat dengan simbol kurung kurawal {}.
#Contohnya sebagai berikut:

myDict = {}
myDict ['one'] = 1
myDict[2] = "My age is 27 years old"
myDict["3"] = 30

print(myDict ['one'])
print(myDict [2])
print(myDict.keys())
print(myDict.values)

1
My age is 19 years old
dict_keys(['one', 2, '3'])
dict_values([1, 'My age is 19 years old', 30])

In [7]:
#Tuple adalah baris data yang dapat menyimpan berbagai tipe variabel.
#Perbedaan Tuple dengan list adalah ukuran dan isi tuple tidak bisa berubah.
#Tuple dibuat dengan simbol kurung ( ) seperti contoh berikut:

tp = ('time', 'to', 'wash', 'your gadget', 1, 2 ,3)
print(tp [0])
tp[2] = "wash"

time

In [10]:
#Pemilihan atau selection pada Python kurang lebih sama dengan bahasa
#pemrograman yang lain, hanya saja yang membedakan adalah tidak ada penggunakan
#kurung kurawal. Statemen yang berjalan pada pemilihan dibedakan dengan identasi 1
#tab. Untuk sintaks yang digunakan adalah if, else, dan elif (else if) yang diikuti dengan
#titik dua untuk membuka sintaks. Contohnya sebagai berikut:

nama = "Dave Sebastian Petrus"
if len(nama)<10:
  print("You're lucky")
elif len(nama)<20 and len (nama) >= 10:
  print("You're very lucky")
else :
  print("You're super lucky")

You're super lucky

In [13]:
list = ["tu", "wa", "ga"]
parameter = [0,1,2,3,4,5]

temp = 0
for number in parameter:
    print(number)
    temp=temp+number

print("nilai temp:", temp)

for isi in list:
    print(isi*6)

for item in list:
    print(item+item)

0
1
2
3
4
5
nilai temp: 15
tutututututu
wawawawawawa
gagagagagaga
tutu
wawa
gaga

In [25]:
#Kita dapat menentukan range menggunakan sintaks range atau membuat numpy
#array dengan sintaks np.arange seperti berikut:

import numpy as np

for i in range(0,21,4):
    print(i)

n_test=np.arange(1,11,2)

print(n_test)

for item in n_test:
    print(item)

0
4
8
12
16
20
[1 3 5 7 9]
1
3
5
7
9

In [30]:
#Sedangkan while menggunakan sintaks: while(statement):

i = 1
while i <= 10:
    print("i is: {}".format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9
i is: 10

In [31]:
#Untuk pembuatan fungsi dan modul/prosedur, keduanya menggunakan sintaks:
#def name_func_or_module(params):
#Perbedaannya adalah function menggunakan sintaks return untuk mengembalikan
#nilai, sedangkan module/prosedur tidak
#Contoh function:

def luasSegitiga(alas, tinggi):
    luas=0.5*(alas*tinggi)
    return luas

a = 3
t = 4

print(luasSegitiga(a,t))

6.0

In [36]:
#Contoh module:

def PrintNamaXKali(nama, jumlah):
    print(nama*jumlah)

nama = "Dave Petrus"
jumlah = 10

PrintNamaXKali(nama, jumlah)

Dave PetrusDave PetrusDave PetrusDave PetrusDave PetrusDave PetrusDave PetrusDave PetrusDave PetrusDave Petrus